[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
torch = "*"
torchvision = "*"
jupyterlab = "*"
toml = "*"
pylint = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
cython = "*"

[packages]
torch = "*"
torchvision = "*"
tqdm = "*"

[requires]
python_version = "3.7"
